.article {
  -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
  width: 400px;
  background: lightgrey;
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 15px;

}

.articleTete{
  display: flex;
  padding: 5px;
}
.articleG{
  position: relative;
  left: 0;
  align-items: center;
  width: 270px;
  font-size: 8px;
  color: white;
  display: flex;
  margin: auto;
  -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
}
.articleD{
  position: relative;
  left: 5px;
  align-items: center;
  font-size: 8px;
  color: white;
  display: flex;
  margin: auto;
  -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
}
.articleCorps{
  text-align: center;
  position: relative;
  padding: 10px;
}
.articleTitre{
  margin: 10px;
  height: 60px;
  font-size: 30px;

}
.articleFooter{
  background: grey;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;

}
.articleGauche{

  width:90%;
  left: 10px;
  display: flex;
}

.articleBouton{
  margin-left: 2%;
  font-size: 9px;
  background: #A9A9A9;
  color: white;
  padding: 4px;
  text-align: center;
  border-radius: 3px;
}
.articleCoeur{
  display: flex;
  align-items: center;
}
:hover.articleBouton{
  background: grey;
}
