
#article{
  display: flex;
  align-content:flex-start;
  flex-wrap: wrap;

}

.articleU {
  border-radius: 9px;
  -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.13);
  width: 400px;
  background: white;
  font-family: sans-serif;
  font-size: 12px;
  margin: 15px;
}

.articleU:hover {
  opacity: 1;
  background:   #FFD903;
}

.articleIntro{
  font-size: 14px;
  font-style: italic;
}

.articleTete{
  display: flex;
  padding: 5px;
}
.articleG{
  position: relative;
  left: 0;
  align-items: center;
  width: 270px;
  font-size: 14px;
  display: flex;
  margin: auto;
}
.articleD{
  position: relative;
  left: 5px;
  align-items: center;
  font-size: 12px;
  display: flex;
  margin: auto;
}
.articleCorps{
  text-align: center;
  position: relative;

}
.articleTitre{
  margin: 10px;
  font-size: 30px;

}
.articleFooter{
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 5px;

}
.articleGauche{
  width:90%;
  left: 10px;
  display: flex;
}

.articleBouton{
  margin-left: 2%;
  font-size: 9px;
  background: #A9A9A9;
  color: white;
  padding: 4px;
  text-align: center;
  border-radius: 3px;
}
.articleCoeur{
  display: flex;
  align-items: center;
}
:hover.articleBouton{
  background: lightgray;
  color:black;
}
