#article {
  display: flex;
  /* align-content: flex-start; */
  justify-content: space-between;
  flex-wrap: wrap;
  padding:  0px 15px;
  background: white;
}


.articleU {
  width: 335px;
  margin-bottom: 30px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.13);
  transition-duration: 0.3s;
  background-image: url(../img/view.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}


.articleU:hover {
  opacity: 1;
  background: #FFD903;
  transform: scale(1.05);
  transition-duration: 0.3;

}

.articleIntro {
  font-size: 14px;
  font-style: italic;
  color: #585858;
  margin-top: -8px;
}

.articleRond{
width: 30px;
height: 30px;
border-radius: 50%;
background-image: url(../img/profil.jpg);
background-size: 100%;
margin-right: 12px;
}
.articleCalend{
width: 30px;
height: 30px;
background-image: url(../img/date.svg);
background-size: 100%;
margin-right: 12px;
background-repeat: no-repeat;
background-position: center;
}
.articleLike{
width: 30px;
height: 30px;
border-radius: 50%;
background-image: url(../img/like.svg);
background-size: 50%;
margin-right: 12px;
background-repeat: no-repeat;
background-position: center;

}

.articleTete {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.articleG {
  align-items: center;
  width: 270px;
  font-size: 14px;
  display: flex;
  margin: auto;
}

.articleD {
  display: flex;
    font-size: 12px;
    margin: auto;
    text-align: right;
    align-content: space-between;
}

.articleCorps {
  text-align: center;
  position: relative;
}

.articleTitre {
  margin: 10px;
  font-size: 30px;
}
.articleTitre p {
  margin-bottom: 10px;

}

.articleFooter {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 5px;
}

.articleGauche {
  width: 90%;
  left: 10px;
  display: flex;
}

.articleBouton {
  margin-left: 5px;
  font-size: 10px;
  background: #000000;
  color: white;
  padding: 13px;
  text-align: center;
  border-radius: 3px;
}

.articleCoeur {
  display: flex;
  align-items: center;
}

:hover.articleBouton {
  background: lightgray;
  color: black;
      transition: 0.8s;
}








@media (max-width: 992px) {
  #article {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 992px) {
  #article {
    width: 700px;
    padding: 0px;


  @media (max-width: 576px) {
    #article {
      width: 100%;
    }
    .articleU {
      width: 100%;
      /* margin: 12px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px; */
    }
  }
