#filter {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 65%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -35px;
    padding: 10px;

}

#articleFilter {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    font-weight: bold;
    font-size: 15px;
    color: white;
    width: 90%;
}

#articleFilter:hover {
    color: #fff;
    cursor: pointer;
  }

#divitemFilter {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-weight: bold;
    color: black;
}

#divitemFilter:hover {
    color: #fff;
    cursor: pointer;
  }

#numberFilter {
    align-items: center;
    padding: 7px;
    display: flex;
    background-color: white;
    border-radius: 100%;
    font-size: 15px;
    font-weight: bold;
    color: black;
    width: 3%;


}

@media (min-width: 768px) {
    #filter {
        width: 80%;
    
    }
  }


@media (min-width: 992px) {
    #filter {
        display: none;
    }
}