#filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -35px;
}

#articleFilter {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

#divitemFilter {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: end;
}




@media (min-width: 992px) {
    #filter {
        display: none;
    }
}