/* #############################################################/*/

/* #############################################################/*/

/* #############################################################/*/

/* Layout page d'accueil */

#main {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  row-gap: 30px;
}

/* TRISTAN */

#header {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 100%);
  grid-area: header;
  grid-template-areas: "banner" "nav";
}

#nav {
  grid-area: nav;
}

#banner {
  grid-area: banner;
  height: 300px;
}

/* END TRISTAN */

#content {
  grid-area: content;
  display: grid;
  grid-template-areas: "filter" "article";
  width: 100%;
  margin: auto;
  column-gap: 30px;
  row-gap: 30px;
}

#filter {
  grid-area: filter;
  background: #FFD903;
  height: 70px;
  border-radius: 3px;
  }
 

#article {
  grid-area: article;
  background: grey;
}

#sidebar {
  grid-area: sidebar;
  background-color: chartreuse;
  height: 200px;
  display: none;
}

#advert {
  grid-area: advert;
  background-color: darkgray;
  height: 100px;
  display: none;
}

#footer {
  grid-area: footer;
  background-color: darkred;
  height: 150px;
}

@media (min-width: 768px) {
  #content {
    width: 100%;git 
  }
}

@media (min-width: 992px) {
  #content {
    grid-area: content;
    display: grid;

    grid-template-areas:
      "article article sidebar"
      "article article advert";
    width: 992px; 
    margin: auto;
  }
  #sidebar {
    grid-area: sidebar;
    background-color: white;
    height: 200px;
    display: inherit;
  }
  #advert {
    grid-area: advert;
    background-color: darkgray;
    height: 100px;
    display: inherit;
  }
  #filter {
    grid-area: filter;
    background: red;
    height: 100px;
    display: none;
  }
}