
@media (max-width: 576px) {
  #article{

  }

    }
}
@media (max-width: 992px) {
    #article {

    }
}
@media (min-width: 992px) {
    #article {


}
  .pageArticleContainer{
    width: 100%;
    display: flex;
    align-content: center;
  }
.pageTete{
  margin:auto;
  width: 500px;
  background: red;

}
