* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



/* #############################################################/*/
/* #############################################################/*/
/* #############################################################/*/
/* Layout page d'accueil */


#main {
    display: grid;
    grid-template-areas:
     "header"
     "content"
     "footer";
     row-gap: 30px;
}

#header {
    grid-area: header;
    grid-template-areas:
    "banner"
    "nav"
    ;
}

#nav {
    grid-area: nav;
    background-color: blue;
    height: 100px;
}

#banner {
    grid-area: banner;
    background-color: blueviolet;
    height: 200px;
}

#content {
    grid-area: content;
    display: grid;
    grid-template-areas:
    "filter"
    "article"
    ;
    width: 100%;
    margin: auto;
    column-gap: 30px;
    row-gap: 30px;
}

#filter {
    grid-area: filter;
    background: red;
    height: 100px;
}

#article{
    grid-area: article;
    background: grey;
    height: 350px;
}

#sidebar {
    grid-area: sidebar;
    background-color: chartreuse;
    height: 200px;
    display: none;
}

#advert{
    grid-area: advert;
    background-color: darkgray;
    height: 100px;
    display: none;
}

#footer {
    grid-area: footer;
    background-color: darkred;
    height:150px ;
}

@media (min-width: 768px) {
    #content {
        width: 100%;
    }
}

@media (min-width: 992px) {
    #content {
        grid-area: content;
        display: grid;
        grid-template-areas:
        "article article sidebar"
        "article article advert"
        ;
        width: 100%;
        margin: auto;
    }
    #sidebar {
        grid-area: sidebar;
        background-color: chartreuse;
        height: 200px;
        display: inherit;
       
    }
    #advert{
        grid-area: advert;
        background-color: darkgray;
        height: 100px;
        display: inherit;
    }
    #filter {
        grid-area: filter;
        background: red;
        height: 100px;
        display: none;
    }    

}

/* #############################################################/*/
/* #############################################################/*/
/* #############################################################/*/

.dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
  }
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }